@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Settings for total website*/
*{
   font-family: "Tinos", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 20px;
   text-decoration-color: black;
}

/*login page*/
.box {
    width: 450px;
    height: 380px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-radius: 10%;
    text-align: center;
    display: block;
    margin: 10px auto;
  }

  /*Link to forget my Password*/
  .passwordReset{
   display: block;
   text-align: center;
   color: black;
   text-decoration: none;
   margin-top: 10px;
  }

 .image{
    margin-top: 0;
 }

 .button {
   background-color:#e9dbc6;
   border: 2px solid;
   color: black;
   padding: 10px 20px;
   text-decoration:none;
   font-size: 20px;
   cursor: pointer;
   margin-right: 60px;
   border-radius: 20px;
   float:right;
 }

 /*end of login page */